
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

<div class="tab-content">
                            <form #changePass="ngForm" (ngSubmit)="changePassw()">
                                <div class="mb-md-5 mt-md-4 pb-0">
                                    <h2 class="h2 fw-bold mb-3 text-uppercase">Cambiar Contraseña</h2>
                                
                                    
                                   
                                     <div class="form-outline mb-1">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Contraseña</mat-label>
                                            <input matInput placeholder="Contraseña" type="password" id="password" name="password" class="form-control" [(ngModel)]="password" #input required>
                                        </mat-form-field>
                                    </div>

                                    <div class="form-outline mb-1">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Repetir Contraseña</mat-label>
                                            <input matInput placeholder="Repetir Contraseña" type="password" id="repeatpassword" name="repeatpassword" class="form-control" [(ngModel)]="repeatPassword"  #input required>
                                        </mat-form-field>
                                    </div>
                            
        
                                    <button class="w-100" type="submit" mat-raised-button color="primary" [disabled]="!changePass.valid">Cambiar</button>
                                </div>
                            </form>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
                