.footer {
    border: none;
    border-radius: 0;
}

.logo{
    content: url(../../images/logologo.png);
    height: 5.5rem;
    width: 5.5rem;
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.nav-link{
    position: relative;
}   



.nav-link:hover::after{
    opacity: 1;
}

.nav-link:hover{
    color:rgb(196, 247, 180) !important;
}

.nav-link::after{
    content:'';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    position:absolute;
    bottom: 0;
    left: 0;
}
