.logo{
    content: url(../../../images/logologo.png);
    height: 5.5rem;
    width: 5.5rem;
    
}

.home{
    font-size: 20px;
    margin-right: 1rem;
}

.nav-link{
    position: relative;
    color:#0c0f06
}


.nav-link:hover::after{
    opacity: 1;
}

.nav-link:hover{
    color:rgb(196, 247, 180) !important;
}

.nav-link::after{
    content:'';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: greenyellow;
    position:absolute;
    bottom: 0;
    left: 0;
}

.space-buttons {
    flex: 1 1 auto;
}