<div class="container mt-5 mb-5">
    <div class="card p-2 bg-dark">

        <div class="row">
            <div class="col-6">
                <div class=" text-light p-4">
                    <form #productForm="ngForm"
                      (ngSubmit)="addToOrder()" >

                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Dirección</mat-label>
                                    <input  matInput 
                                            placeholder="Dirección"  
                                            type="text" 
                                            id="direction" 
                                            name="direction" 
                                            class="form-control" 
                                            [(ngModel)]="direccion" #input required>
                                </mat-form-field>
                         

                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label> Comentarios de la Orden </mat-label>
                                    <input  matInput 
                                            placeholder="Comentarios de la Orden"  
                                            type="text" 
                                            id="comments" 
                                            name="comments" 
                                            class="form-control" 
                                            [(ngModel)]="detalles" #input required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label> Método de Pago </mat-label>
                                    <mat-select placeholder="Método de Pago" [(ngModel)]="selectedValue" name="method" #select required>
                                      <mat-option *ngFor="let method of methods" [value]="method.value">
                                        {{method.viewValue}}
                                      </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div align="end">
                                    <button type="submit" 
                                    mat-stroked-button
                                    color="accent"  [disabled]="!productForm.valid"
                                   
                                    >Realizar Orden</button>
                                </div>
                               

                               
                    </form> 
                </div>
            </div>

            <div class="col-6">
                <div class=" text-light p-4">
                    <app-my-cart-items></app-my-cart-items>
                    <div align="end" class="mt-4"> 
                        Precio Total: {{p}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>