<div class="container mt-5">
    <div class="card p-2 bg-dark">

        <div class="row">
            <div class="col-6">

                <form #productForm="ngForm"
                      (ngSubmit)="addProduct(productForm)">

                    

                    <div align="end">
                        <button mat-stroked-button
                                color="accent"
                                style="margin-right: 3px;">Limpiar</button>
                        <button type="submit"
                                mat-stroked-button
                                color="accent">Añadir Producto</button>
                        <button type="submit"
                                mat-stroked-button
                                color="accent">Actualizar Producto</button>
                    </div>



                </form>

            </div>
        
        </div>

    </div>
</div> 