<div class=" mb-5 p-5">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  


      <ng-container matColumnDef="cartItemsproductId">
        <th mat-header-cell  *matHeaderCellDef> Codigo del Producto</th>
        <td mat-cell  *matCellDef="let element"> 
          <ul>
            <li *ngFor="let id of element.cartItems">
              {{id.productId}}
            </li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="cartItemsproductName">
        <th mat-header-cell  *matHeaderCellDef> Nombre del Producto </th>
        <td mat-cell  *matCellDef="let element"> 
          <ul>
            <li *ngFor="let id of element.cartItems">
              {{id.productName}}
            </li>
          </ul>
        </td>
      </ng-container>

      <ng-container matColumnDef="cartItemsamount">
        <th mat-header-cell  *matHeaderCellDef> Cantidad </th>
        <td mat-cell  *matCellDef="let element"> 
          <ul>
            <li *ngFor="let id of element.cartItems">
              {{id.amount}}
            </li>
          </ul>
        </td>
      </ng-container>


      <ng-container matColumnDef="cartItemsprice">
        <th mat-header-cell  *matHeaderCellDef> Sub-Total </th>
        <td mat-cell  *matCellDef="let element"> 
          <ul>
            <li *ngFor="let id of element.cartItems">
              {{id.price}}
            </li>
          </ul>
        </td>
      </ng-container>


      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell  *matHeaderCellDef> Precio Total </th>
        <td mat-cell  *matCellDef="let element"> {{element.totalPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="orderStatus">
        <th mat-header-cell  *matHeaderCellDef> 
          
          <mat-form-field appearance="outline" class="selector" subscriptSizing="dynamic" style="width: 100%">
            <mat-select  placeholder="Estado de la Orden" (selectionChange)="selectStage($event)"  >
              <mat-option value="All"> Estado de la Orden</mat-option>
              <mat-option value="pendiente"> Pendiente </mat-option>
              <mat-option value="En Camino"> En Camino </mat-option>
              <mat-option value="entregado"> Entregado </mat-option>
            </mat-select>
          </mat-form-field>

        </th>
        <td mat-cell  *matCellDef="let element"> {{element.orderStatus}} </td>
      </ng-container>
  
      <!-- Header -->
      <ng-container matColumnDef="header">
        <th mat-header-cell *matHeaderCellDef 
        [attr.colspan]="6"> 
        Detalles del Pedido </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="[ 'header']"></tr>
      <!-- Header -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator  #paginator
  [pageSize]="5"
  [pageSizeOptions]="[5, 10]"
  >
</mat-paginator>
  </div>