.nav-link{
    font-family: 'Lucida Sans';

    position: relative;
    color: #6e7172;
}

.nav-link:hover::after{
    opacity: 1;
}

.boton{
        height:20px; 
        width:100px; 
        position:relative;
        top:50%; 
        left:41.5%;

}

.nav-link.active {
    font-family: 'Lucida Sans';
    color:#71db8e;
    background-color:#757778 ;
}

.nav-link:hover{
    color:rgb(196, 247, 180) !important;
}

.nav-link::after{
    content:'';
    opacity: 0;
    transition: all 0.2s;
    
    background-color: greenyellow;
    position:absolute;
    bottom: 0;
    left: 0;
}

.h2{
    font-family:Arial, Helvetica, sans-serif;
    color:greenyellow;
}

.mat-mdc-raised-button.mat-accent{
    --mdc-protected-button-container-color: #c4f7b0;
}