
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button [ngClass]="active == 'login' ? 'nav-link active' : 'nav-link'" id="tab-login"
                            (click)="onLoginTab()" >Inicio de Sesión</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button [ngClass]="active == 'register' ? 'nav-link active' : 'nav-link'" id="tab-register"
                            (click)="onRegisterTab()" >Registro</button>
                        </li>
                      </ul>
                    
                    <!--- Iniciar sesión --->
                    <div class="tab-content">
                        <div [ngClass]="active == 'login' ? 'tab-pane fade show active' : 'tab-pane fade'">
                            <form #loginForm="ngForm" (ngSubmit)="logins(loginForm)">
                                <div class="mb-md-5 mt-md-4 pb-0">
                                    <h2 class="h2 fw-bold mb-3 text-uppercase">Iniciar Sesion</h2>
                                
                                    
                                    <div class="form-outline mb-1">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Nombre de Usuario</mat-label>
                                            <input matInput placeholder="Nombre de Usuario" type="login" id="loginName" name= "login" class="form-control" [(ngModel)]="login" #input required>

                                        </mat-form-field>
                                    </div>

                                     <div class="form-outline mb-1">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Contraseña</mat-label>
                                            <input matInput placeholder="Contraseña" type="password" id="loginPassword" name="password" class="form-control" [(ngModel)]="password" #input required>
                                        </mat-form-field>
                                    </div>
                            
        
                                    <button class="w-100" type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Iniciar sesión</button>

                                    <div class="mt-md-4">
                                            <a class="boton nav-link text-white-50 fw-bold" >
                                                <button type="button" [ngClass]="active == 'password' ? 'nav-link active' : 'nav-link' "  
                                                (click)="onPasswordTab()" >¿Olvidaste tu Contraseña?</button>
                                            </a>
                                        <p class="mt-4">¿No tienes una cuenta?</p>
                                        <a class="boton nav-link text-white-50 fw-bold" >
                                            <button type="button" [ngClass]="active == 'register' ? 'nav-link active' : 'nav-link' "  
                                            (click)="onRegisterTab()" >Registrate</button>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>    
                    <!--- Iniciar sesión --->


                    <!--- Cambiar contraseña --->
                    <div class="tab-content">
                        <div [ngClass]="active == 'password' ? 'tab-pane fade show active' : 'tab-pane fade'">
                            <form #passwordForm="ngForm" (ngSubmit)="changePass(passwordForm)">
                                <div class="mb-md-5 mt-md-4 pb-0">
                                    <h2 class="h2 fw-bold mb-3 text-uppercase">Cambiar Contraseña</h2>
                                
                                    
                                    <div class="form-outline mb-1">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Nombre de Usuario</mat-label>
                                            <input matInput placeholder="Nombre de Usuario" type="login" id="loginName" name= "login" class="form-control" [(ngModel)]="login" #input required>

                                        </mat-form-field>
                                    </div>

                                     <div class="form-outline mb-1">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Contraseña Actual</mat-label>
                                            <input matInput placeholder="Contraseña" type="password" id="loginPassword" name="password" class="form-control" [(ngModel)]="password" #input required>
                                        </mat-form-field>
                                    </div>

                                    <div class="form-outline mb-1">
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Contraseña Nueva</mat-label>
                                            <input matInput placeholder="Contraseña" type="password" id="loginPassword" name="password" class="form-control" [(ngModel)]="password" #input required>
                                        </mat-form-field>
                                    </div>
                            
        
                                    <button class="w-100" type="submit" mat-raised-button color="primary" [disabled]="!passwordForm.valid">Solicitar Cambio</button>
                                </div>
                            </form>
                        </div>
                    </div>    
                    <!--- Cambiar contraseña --->


                    <!--- Registro --->
                    <div class="tab-content">
                        <div [ngClass]="active == 'register' ? 'tab-pane fade show active' : 'tab-pane fade'">
                            <form (ngSubmit)="onSubmitRegister()" #registerForm="ngForm">
                                <div class="mb-md-5 mt-md-4 pb-0">
                                    <h2 class="h2 fw-bold mb-3 text-uppercase">Registro</h2>
                                    <div class="row">
                                        <div class="col-6 "> 
                                            <div class="form-outline mb-1">
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>Nombre</mat-label>
                                                    <input matInput placeholder="Nombre"  type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="firstName" required>
                                                </mat-form-field>
                                            </div>
                                        </div>


                                        <div class="col-6"> 
                                            <div class="form-outline mb-1">
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>Apellido</mat-label>
                                                    <input matInput placeholder="Apellido"  type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="lastName" required>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="form-outline mb-1">
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>Número de Telefono</mat-label>
                                                    <input matInput placeholder="Número de Telefono"type="number" id="userPhoneNumber" name="userPhoneNumber" class="form-control" [(ngModel)]="userPhoneNumber" required>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="form-outline mb-1">
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>Correo Electrónico</mat-label>
                                                    <input matInput placeholder="Correo Electrónico"  type="email" id="userEmail" name="userEmail" class="form-control" [(ngModel)]="userEmail" required email>
                                                    
                                                </mat-form-field>
                                            </div>
                                        </div>



                                        <div class="col-6">
                                            <div class="form-outline mb-1">
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>Nombre de Usuario</mat-label>
                                                    <input matInput placeholder="Usuario"  type="text" id="login" name="login" class="form-control" [(ngModel)]="login" required>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="form-outline mb-1">
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>Contraseña</mat-label>
                                                    <input matInput placeholder="Contraseña"   type="password" id="registerPassword" name="password" class="form-control" [(ngModel)]="password" #input required minlength = '5'>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    

                                  
                            
                            
        
                                    <button class="w-100" type="submit" mat-raised-button color="primary" [disabled]="!registerForm.valid" >Registrarse</button>

                                    <div class="mt-md-4">
                                        <p class="mt-4">¿Ya tenes una cuenta? 
                                            <a class="boton nav-link text-white-50 fw-bold" >
                                                <button type="button" [ngClass]="active == 'login' ? 'nav-link active' : 'nav-link'"
                                                (click)="onLoginTab()"  >Inicia sesión</button>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>    
                    <!--- Registro --->

                </div>
            </div>
        </div>
    </div>
</div>