.informacion-producto{
    font-size: larger;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.image-container{
    height: 500px;
    position: relative;
}

.product-image-zoom{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}