<div class="container p-5">

    <div class="row">
        
        <div class="col-6">
            <!-- Imagen grande del producto -->
            <div class="card image-container" >
                <img [src]="classProduct.imageFiles[selectedProductIndex]?.url" class="product-image-zoom">
            </div>


           <!-- Grid List de imagenes pequeñas del producto -->
            <div class="mt-2">
                <mat-grid-list cols="3" rowHeight="1:1" gutterSize="10">
                    <mat-grid-tile *ngFor="let file of classProduct.imageFiles; let i = index;" (click)="changeIndex(i)" style="border: 1px solid lightgrey; cursor: pointer;">
                        <img [src]="file.url" height="200px" >
                    </mat-grid-tile>
                </mat-grid-list>
            </div>

         
        </div>
        
        <div class="col-6">
            <div class="card info p-5" style="height: 500px;">
                
                <!-- Detalles del Producto -->
                
                <div class="informacion-producto mt-5">
                    <div>
                        <h2>{{classProduct.name}}</h2>
                    </div>

                    <div>
                        Descripción: <br>
                        {{classProduct.description}}
                    </div>

                    <div class="mt-3">
                        Gs. {{classProduct.price}}
                    </div>

                    <div class="mt-3">
                        <div *ngFor="let variation of product">
                            <button (click)="selectVariation()"> {{variation.color}} </button> 
                        </div>
                    </div>


                    <!-- Si el usuario NO esta loggeado, puede ver el input y el boton de añadir al carrito pero NO puede realizar el pedido, tiene que iniciar sesión para añadir. -->

                    <div class="mt-3"  *ngIf="!userService.roleMatch(['ADMIN'])">
                        Cantidad a llevar: <input  type="number" class="form-control mt-2"  [(ngModel)]="inputText" ref="inputField"  >
                    </div>

                    <div class=" mt-5 text-center"> 
                        <button type="button"
                        mat-raised-button
                        color="warn"
                        style="width: 200px;"
                        (click)="addToCart()"
                        *ngIf="!userService.roleMatch(['ADMIN'])"
                        > Añadir al Carrito </button>  
                    </div>

                    <!-- Si el Usuario loggeado es un ADMIN, no podra ver la opcion para añadir al carrito, a su vez verá la opción de Editar Producto-->
                    
                  
                </div>
            </div>
        </div>

    </div>

</div>