<div class="container mt-5 mb-5">
    <div class="card p-2 bg-dark">

        <div class="row">
            <div class="col-6">
                <div class="formularioowo">
                    <form #productForm="ngForm">
                     
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Color</mat-label>
                                    <input  matInput 
                                            placeholder="Color"  
                                            type="text" 
                                            id="name" 
                                            name="name" 
                                            class="form-control" 
                                            [(ngModel)]="product.color"
                                            #input required>
                                </mat-form-field>



                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Cantidad en Stock</mat-label>
                                    <input  matInput 
                                            placeholder="Cantidad en Stock"  
                                            type="number" 
                                            id="amount_in_stock" 
                                            name="amount_in_stock" 
                                            class="form-control" 
                                            [(ngModel)]="product.amountInStock"
                                            #input required>
                                </mat-form-field>

                                
                                <mat-form-field hidden appearance="outline" class="w-100">
                                    <mat-label>ID del Producto</mat-label>
                                    <input  matInput 
                                            placeholder="ID del Producto"  
                                            type="number" 
                                            id="productClassId" 
                                            name="productClassId" 
                                            class="form-control" 
                                            [(ngModel)]="product.productClassId"
                                            #input>
                                </mat-form-field>



                            <div align="end">
                                <!-- Boton para resetear el Formulario -->
                                <button type="reset"
                                        mat-stroked-button
                                        color="accent"
                                        style="margin-right: 1rem;">Limpiar</button>
                                <!-- Boton para añadir fotos -->
                                <button type="button" 
                                        mat-stroked-button 
                                        color="accent" 
                                        (click)="selectFile.click()"
                                        style="margin-right: 1rem;">Añadir Fotos</button>
                                            <input  hidden
                                                    type="file" 
                                                    multiple 
                                                    value="select" 
                                                    #selectFile 
                                                    (change)="onFileSelected($event)">
                                <!-- Boton para añadir producto-->
                                <button type="submit" *ngIf="isNewProduct"
                                        mat-stroked-button
                                        color="accent" [disabled]="!productForm.valid"
                                        (click)="addProduct(productForm)">Añadir Producto</button>

                                        <!-- Si llegamos a esta ruta por el Editar producto, nos aparece este boton en vez de Añadir Producto-->
                              
                            </div>
                    </form>
                </div>
            </div>

            <div class="col-5 text-light mt-4">
               
                <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="4" rowHeight="1:1" >
                            <mat-grid-tile *ngFor="let file of product.imageFiles; let i = index;">
                                <div style="position:relative ">
                                    <!-- Nos permite eliminar la imagen que cargamos -->
                                    <span class="btn-remove-image" (click)="removeimages(i)">X</span>
                                    <img [src]="file.url" width="100px" height="100px">
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 