table {
    width: 100%;
    
}


table td {
    padding: 10px;
}

::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
  }

.mdc-data-table__cell, .mdc-data-table__header-cell{
    text-align: center;
    border: 1px solid #b3b3b3;
    padding: 0 !important;
}

.mdc-data-table__cell{
    padding-top:8px !important;
}


li{
    list-style-type: none;
    text-align: left !important;
}

.mat-column-orderStatus{
    width: 5%;
} 

.mat-column-cartItemsproductId{
    width: 5%;
} 

.mat-column-totalPrice{
    width: 8%;
}

.mat-column-description {
    width: 55% 
}

.mat-column-amountInStock {
    width: 7% 
}