mat-grid-tile{
    border-radius: 25px;
    background-color: rgba(221, 253, 181, 0.5);
/*  background-color: rgba(196,219,128, 0.5) */

}



.image-container{
    position: relative;
    height: 350px;
}

.colorcito{
    background-color: #bb754d;
}


.home-page-product-image{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    margin-bottom: 20px;
  }
  .grid-item {
    font-size: 18px;
}

.section{
    display: flex;
}

.example-card{
    margin-left: 25px;
  }