<table mat-table [dataSource]="myCartDetails" class="mat-elevation-z8">
  
    <ng-container matColumnDef="idProducto">
      <th mat-header-cell  *matHeaderCellDef> Código del Producto </th>
      <td mat-cell  *matCellDef="let element"> {{element.productId}} </td>
    </ng-container>

    <ng-container matColumnDef="nombreProducto">
      <th mat-header-cell  *matHeaderCellDef> Nombre del Producto </th>
      <td mat-cell  *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>

    <ng-container matColumnDef="cantidadProducto">
      <th mat-header-cell  *matHeaderCellDef> Cantidad </th>
      <td mat-cell  *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="precioProducto">
      <th mat-header-cell  *matHeaderCellDef> Sub Precio </th>
      <td mat-cell  *matCellDef="let element"> {{element.price}} </td>
    </ng-container>


    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>