<app-home></app-home>

<!---
<div class="container p-5">

    <div class="row">
        <div class="col-3">
        </div>
        
        <div class="col-6">
            <div class="card info p-5" style="height: 400px;">
                <div class="informacion-producto mt-2">
                    <div class="mt-5">
                        <div class="contenedorcito">

                            Usuario Verificado

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->