<div class=" mb-5 p-5">
    <!-- Llama el componente donde muestra la tabla con los items del carrito-->
    <app-my-cart-items></app-my-cart-items>

    <div class=" mt-5 " align="end"> 
      <!-- Este disabled, verifica si el array del carrito tiene valores, si no lo tiene no habilita el boton-->
      <button type="button"
      mat-raised-button
      color="warn"
      style="width: 200px;"
      routerLink="/CheckOut"
      [disabled]="!myCartDetails || myCartDetails.length === 0"
      > Realizar Pedido </button>  
    </div>
  </div>