<div class="container mt-5 mb-5" align="center">
    <div class="card bg-dark text-center" style=" width: 650px; padding: 20px;" >
        <div class="formularioowo">
            <form #productForm="ngForm">
                
                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Nombre</mat-label>
                                        <input [disabled]="true" matInput 
                                            placeholder="Nombre"  
                                            type="text" 
                                            id="name" 
                                            name="name" 
                                            class="form-control" 
                                            value="{{datosUsuario.firstName}}">
                                            </mat-form-field>
                                </div>

                                <div class="col-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Apellido</mat-label>
                                        <input [disabled]="true"  matInput 
                                            placeholder="Apellido"  
                                            type="text" 
                                            id="description" 
                                            name="description" 
                                            class="form-control" 
                                            value="{{datosUsuario.lastName}}">          
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Telefono</mat-label>
                                        <input [disabled]="true" matInput 
                                            placeholder="Nombre"  
                                            type="text" 
                                            id="name" 
                                            name="name" 
                                            class="form-control" 
                                            value="{{datosUsuario.userPhoneNumber}}">
                                            </mat-form-field>
                                </div>
    
                                <div class="col-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Correo Electronico</mat-label>
                                        <input [disabled]="true" matInput 
                                            placeholder="Apellido"  
                                            type="text" 
                                            id="description" 
                                            name="description" 
                                            class="form-control" 
                                            value="{{datosUsuario.userEmail}}">          
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>RUC</mat-label>
                                        <input [disabled]="true" matInput 
                                            placeholder="Nombre"  
                                            type="text" 
                                            id="name" 
                                            name="name" 
                                            class="form-control" 
                                            value="{{datosUsuario.ruc}}">
                                            </mat-form-field>
                                </div>
    
                                <div class="col-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Nombre de Usuario</mat-label>
                                            <input [disabled]="true" matInput 
                                                placeholder="Nombre de Usuario"  
                                                type="text" 
                                                id="category" 
                                                name="category" 
                                                class="form-control" 
                                                value="{{datosUsuario.login}}">         
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-10">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Contraseña</mat-label>
                                            <input [disabled]="true" matInput 
                                                placeholder="Contraseña"  
                                                type="password" 
                                                class="form-control" 
                                                value="{{this.datosUsuario}}">
                                            </mat-form-field>
                                </div>
    
                                <div class="col-2">
                                    <button class="boton" mat-icon-button 
                                            color="accent"
                                            routerLink="/cambiar_contraseña">
                                        <mat-icon>edit</mat-icon>
                                    </button>                         
                                </div>
                            </div>

                            <button type="submit" 
                                        mat-stroked-button
                                        color="accent" 
                                       >Editar Datos</button>

            </form>
        </div>
    </div>   
</div>