table {
    width: 100%;
    
}


.mat-column-id{
    width: 5%;
} 

.mat-column-name{
    width: 13%;
}

.mat-column-description {
    width: 55% 
}


.mat-column-amountInStock {
    width: 8% 
}

.mat-column-header1 {
  width: 80%
}


.mdc-data-table__header-cell{
    text-align: center ;
    border: 1px solid #b3b3b3;
}
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
