<!--- 
    Tabla para ver los Detalles de los Productos cargados en la Base de Datos (ADMIN)
    Agregar paginación y filtro por nombre 
    Agregar el botón que lleva hacia "Añadir Producto"
-->
<div class=" mb-5 p-5">

  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Código </th>
      <td mat-cell  *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell  *matHeaderCellDef> Nombre del Producto</th>
      <td mat-cell  *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell  *matHeaderCellDef> Descripcion del Producto </th>
      <td mat-cell  *matCellDef="let element"> {{element.description}} </td>
    </ng-container>


    <ng-container matColumnDef="category">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>  

        <mat-form-field appearance="outline" class="selector" subscriptSizing="dynamic" style="width: 100%;">
          <mat-select  placeholder="Categoria" (selectionChange)="selectStage($event)" >
            <mat-option value="All"> Categoria </mat-option>
            <mat-option value="Interior"> Interior </mat-option>
            <mat-option value="Exterior"> Exterior </mat-option>
          </mat-select>
        </mat-form-field>

      
      </th>
      <td mat-cell  *matCellDef="let element"> {{element.orderStatus}} </td>
    </ng-container>


    <ng-container matColumnDef="amountInStock">
      <th mat-header-cell mat-sort-header  *matHeaderCellDef> Cantidad en Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.amountInStock}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell mat-sort-header  *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element" style="display:flex">
        <button class="boton" mat-icon-button 
                color="light"
                (click)="showImages(element)">
          <mat-icon>images</mat-icon>
        </button>

        <button class="boton" mat-icon-button 
                color="accent"
                (click)="editProductDetails(element.id)">
                <mat-icon>edit</mat-icon>
        </button>

        <button class="boton" mat-icon-button 
                color="warn" 
                (click)="deleteProducts(element.id)" >
                <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    
    <!-- Header -->
    <ng-container matColumnDef="header-1">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="5"> 
          <mat-form-field appearance="fill" class="w-100" style="margin-top: 1rem;">
            <input matInput placeholder="Buscar Producto" autocomplete="off"  (keyup)="filterData($event)" #input>
          </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="header-2">
      <th mat-header-cell *matHeaderCellDef 
      [attr.colspan]="2"> 
      <button type="button"
        mat-raised-button
        color="warn"
        style="width: 200px;"
        routerLink="/AñadirProducto"
        > Añadir Producto </button>  </th>
    </ng-container>


  <tr mat-header-row *matHeaderRowDef="['header-1', 'header-2']"></tr>
  <!-- Header -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

      <mat-paginator  #paginator
                      [pageSize]="5"
                      [pageSizeOptions]="[5, 10]"
                      >
      </mat-paginator>

</div>