<section class="banner">
    <owl-carousel-o [options]="bannerSlider">
        <ng-template carouselSlide>
            <img class="image-1">
        </ng-template>  
        <ng-template carouselSlide>
            <img class="image-2">
        </ng-template>  
        <ng-template carouselSlide>
            <img class="image-3">
        </ng-template> 
      </owl-carousel-o>
</section>

<div class="container mt-5">
    <div class="card text-center" style="padding:20px;">
        Productos Interior
    </div>
    <app-productos>

    </app-productos>
</div>
