mat-grid-tile{
    border-radius: 25px;
    background-color: rgba(221, 253, 181, 0.5);
/*  background-color: rgba(196,219,128, 0.5) */

}

p{
    color:rgb(103, 54, 54)
}

.image-container{
    position: relative;
    height: 350px;
}

.colorcito{
    background-color: #8CAF46;
}


.home-page-product-image{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    margin-bottom: 20px;
  }
  .grid-item {
    font-size: 18px;
}

.section{
    display: flex;
    justify-content: center;

}

.example-card{
    margin-left: 25px;
    background-color: #E5EED2;
    border: 0px solid;
    border-color: #bb754d;
  }

.example-card h2 {
    color:rgb(151, 123, 85);
    text-transform: capitalize;
}

.mat-mdc-paginator {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
    background-color:transparent;
    color: black
  }


::ng-deep .mat-mdc-paginator-icon {
   fill:black !important; 
}

::ng-deep  .mat-mdc-paginator-range-label{
    display: none !important;
}