.banner{
    position: relative;
}


.banner .owl-prev, .banner .owl-next{
    width: 110px;
    height: 110px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card {
    background: none;
    font-family: Tahoma;
    font-weight: 500;
    color:white;
    font-size: x-large;
    border: none;
      
}

.image-1{
    background: url(../../images/33.png);
    height: 34rem;
    background-size: cover;
}

.image-2{
    background: url(../../images/11.png);
    height: 34rem;
    background-size: cover;
}

.image-3{
    background: url(../../images/22.png);
    height: 34rem;
    background-size: cover;
}


ngb-carousel {
    max-width: auto;
    height: 34rem;
}

ngb-carousel img {
    height: 34rem;
    width: 100%;
    outline: none;
    padding:17rem;
}
ngb-carousel {
    width: auto;
    height: 34rem;
}
.carousel-inner {
    overflow: visible;
}
.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
}
.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.carousel-control-prev {
     z-index: 20;
}

.carousel-control-next {
     z-index: 20;
}
.carousel-indicators{
    z-index: 20;
}


.carousel-caption{
    color:rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
